*.psd filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Graphics/3D/Ch24/Textures/*.png filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Graphics/3D/Ch24/Model/Ch24_nonPBR.fbx filter=lfs diff=lfs merge=lfs -text
